{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reportMaker/style.css' %}" />
<h1> Create annual report </h1>


<form action="annual" method="post"> {%csrf_token %}
    {{ form.as_p }}
    <input type="submit" value = "Submit" />
</form>

{% if result.error %}
<p><strong>{{result.error }} </strong></p>
{% endif %}

{% if result.properties %}
<table>
    <tbody>
        <tr>
        <th>Address Line 1</th>
        <th>Income</th>
        </tr>
        {%for property in result.properties %}
            <tr>
                <td> {{ property.address}} </td>
                <td> {{ property.yearlyAmount }}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>
<p><strong> Total: £{{ result.totalAmount }} </strong> </p>
{% endif %}

