{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reportMaker/style.css' %}" />


<h1>
    Report Maker
</h1>
<p> Would you like to create an occupier report or an annual report? </p>

<form action="{% url 'reports:occupation' %}" method="post"> {%csrf_token %} 
{{ form1.as_p }}
    <input type="submit" value = "Occupation" />
</form>

<form action="{% url 'reports:annual' %}" method="post"> {%csrf_token %}
{{ form2.as_p }}
    <input type="submit" value = "Annual" />
</form>
