{% load static %} 

<link rel="stylesheet" type="text/css" href="{% static 'reportMaker/style.css' %}" />

<h1> Create occupation report </h1>


<form action="occupation" method="post"> {%csrf_token %}
    {{ form.as_p }}
    <input type="submit" value = "Submit" />
</form>

{% if result.error %}
<p><strong>{{ result.error }}</strong></p>
{% endif %}
{% if result.person %}
    <h1>Results</h1>
    <p>Name: {{ result.person.full_name }} </p>
    <p>Phone: {{ result.person.phone_number }} </p>
{% endif %} 
